<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for signing up for StatTrader!</h1>
    <p>
      Please click the link below to activate your account:<br/>
    </p>
    <p>
      <%= @url %>
    </p>
    <p>Happy Stat Trading!</p>
  </body>
</html>
