<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>A request to reset your password has been made.</h1>
    <p>
      If you would not like to reset your password, please ignore this email.<br/>
      Otherwise, please click the link below to reset your password:<br/>
    </p>
    <p>
      <%= @url %>
    </p>
    <p>Thanks for using StatTrader!</p>
  </body>
</html>
