<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your password has been reset!</h1>
    <p>
      Your new password for StatTrader is: <br/>
    </p>
    <p>
      <%= @new_password %>
    </p>
    <br>
    <p>Thank you for using StatTrader!</p>
  </body>
</html>
