$("#filter_sic_level2").html('<%= escape_javascript(options_for_select(@sic_2digit)) %>');
$("#filter_sic_level3").html('<option value=\"\"></option>');
$("#filter_sic_level4").html('<option value=\"\"></option>');