/**
 *	Dummy CSS for giving the prototype some life
 */

* {
	margin:0;
	padding:0;
}

/** General Style Info **/
body {
	background: #fff;
	color: #000;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:90%;
	margin: 0;
}
a {
	color: #01325f;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #fff;
	background-color:#067DB5;
	text-decoration:none;
}
a:active {
	color: #fff;
	background-color:#01325f;
	text-decoration:none;
}
a.plain,
a.plain:hover,
a.plain:active {
	border:none;
	text-decoration: none;
	
}
a img {
	border:none;
}

h1, h2, h3, h4 {
	font-weight: normal;
	/*margin-bottom:0.5em;*/
}
h1 {
	color: #f0ac1b;
	font-family:'veranda', sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
	margin-bottom:0.5em;
}
h2 {
	/*background:#fff;*/
	color: #f0ac1b;
	font-family:'veranda', sans-serif;
	font-size: 200%;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.15);
}
h3 {
	/*color: #f0ac1b;*/
	color: #f0ac1b;
	font-family:'veranda', sans-serif;
	font-size: 178%;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.15);
	margin-bottom:0.5em;
}
h4 {
	color: #f0ac1b;
	font-family:'veranda', sans-serif;
	font-size: 110%;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.1);
	margin-bottom:0.5em;
}
ul, li {
	margin: 0 12px;
}

/** Layout **/
#container {
	text-align: left;
}
/*
#header{
	padding: 10px 20px;
}*/
#header h1 {
	line-height:20px;
	background: #ffffff;
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	background: #ffffff;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #ffffff;
	text-decoration: none;
}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

/** containers **/
div.tips {
	border:1px solid #000;
	width: 650px;
	padding: 15px;

}
div.login {
	width: 500px;
	/*margin-left: 150px;*/
	/*margin-right: auto;*/
	padding-left: 75px;
	padding-top: 50px;
	padding-bottom: 50px;
	
}
div.lognbox{
	width: 100%;
	margin: auto;
}

div.log1{
	text-align:right;
	float: right;
	width: 150px;
	clear: none;
}
div.log2{
	float: left;
	width: 200px;
	clear: none;
}


table.login tr td{
	/*color: #fff;
	background: #0f426d;*/
	color: #000;
	background: #fff;
	padding-top: 5px;
	text-align: right;
	vertical-align: top;
	border-bottom:0px solid #000;
}
table.login{
	/*padding: 0px;*/

}


div.loginbutton {
	margin-left: auto;
	margin-right: auto;
}
div.logout {
	float:right;
	padding-top: 10px;
	padding-right: 16px;
}
div.form,
div.index,
div.view {
	float:right;
	width:79%;
	border-left:1px dotted #666;
	border-top: 1px dotted #666;
	padding:10px 2%;
}
div.custview {
	float:right;
	width:95%;
	
	padding:10px 2%;
}
div.actions {
	float:left;
	width:13%;
	padding:10px 1.5%;
}
div.actions h3 {
	padding-top:0;
	color:#f0ac1b;
}


/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	/*width: 100%;*/
}
th {
	border:0;
	border-bottom:2px solid #555;
	/*text-align: left;*/
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	/*text-align: left;*/
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table.plain tr td{
	background: #fff;
	padding: 6px;
	/*text-align: left;*/
	vertical-align: top;
	border-bottom:0px solid #000;
}
/*table tr:nth-child(2n) td {
	background: #f5f5f5;
}*/
tr.even td {
	background: #f5f5f5;
}
tr.odd td {
	background: #fff;
}
tr.submitrow td {
	background: #ccffff;
}

td.actions {
	text-align: center;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}



/** Paging **/
div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
div.paging span.disabled {
	color: #ddd;
	display: inline;
}
div.paging span.current {
	color: #e8381f;
}
div.paging span a {
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}


/** Notices and Errors **/
div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #0a477c;
	padding: 5px;
}
div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #e8381f;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/**  Actions  **/
div.actions ul {
	margin: 0;
	padding: 0;
}
div.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
div.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}
div.actions ul li a:hover {
	text-decoration: underline;
}

input[type=submit],
li.current,
div.actions ul li a,
td.actions a,
a.sobutton,
tr.submitrow a {
	
	background:#0f426d;
	background: -webkit-gradient(linear, left top, left bottom, from(#054c84), to(#0f426d));
	/*background: -webkit-gradient(linear, left top, left bottom, from(#0f426d), to(#0a477c));*/
	background-image: -moz-linear-gradient(top, #054c84, #0f426d);
	color:#fff;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .5em 2em .55em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-decoration:none;
	text-align: center;
	border: solid 1px #0f426d;
	/*text-shadow: #000 1px 1px 1px;*/
	/*font-color: #067DB5;*/
	min-width: 0;
}
input[type=submit]:hover,
div.actions ul li a:hover,
td.actions a:hover,
a.sobutton:hover,
tr.submitrow a:hover {
	background: #01325f;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#0f426d), to(#0f426d));*/
	text-decoration:none;
	
}
input[type=submit]:active,
div.actions ul li a:active,
td.actions a:active,
a.sobutton:active,
tr.submitrow a:active {
	background: #01325f;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#0f426d), to(#0f426d));*/
	text-decoration:none;
	border: solid 1px #f0ac1b;
	
}
li.current {
	color:#0f426d;
	background: #fff;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#067DB5), to(#067DB5));*/
	text-decoration:italic;
	border: solid 2px #0f426d;
	margin: 0px 6px;
	padding:2px 5px;
	
	
}

div.field {
  margin-bottom: 10px;
  
  
  
}

.field label {
	color: #01325f;
}
.field input {
	width: 50%
	
}
.field textarea {
	height: 200px;
	width: 50%;
}


select.rowform {
	height: 20px;
}
input.rowform {
	height: 20px;
	width: 150px;
}
textarea.rowform {
	height: 20px;
	width: 92%;
}


div.back {
	
	padding-left:200px;
}

/** Related **/

div.related {
	float:right;
	width:95%;
	border-top:1px solid #666;
	padding:10px 2%;
}

div.related ul {
	margin: 0;
	padding: 0;
}
div.related li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}


li.sidelist {
	display:inline;
	padding: 15px;
}

input[type=submit],
div.related ul li a,
td.related a {
	

	background: #01325f;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#009966), to(#00cc66));*/
	/*background: -webkit-gradient(linear, left top, left bottom, from(#0f426d), to(#0a477c));*/
	/*background-image: -moz-linear-gradient(top, #f0ac1b, #f0ac1b);*/
	color:#fff;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .5em 2em .55em;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-decoration:none;
	text-align: center;
	border: solid 2px #067DB5;
	/*text-shadow: #000 1px 1px 1px;*/
	/*font-color: #067DB5;*/
	min-width: 0;
}
input[type=submit]:hover,
div.related ul li a:hover,
td.related a:hover {
	color: #fff;
	background:#0f426d;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#01325f), to(#01325f));*/
	text-decoration:none;
}


table.indent1 {
	padding-left: 5px;

}

a.sobutton,
input.sobutton {
	margin: 0px 6px;
	padding:2px 5px;

}

button {
	color: #fff;
	background:#067DB5;
	padding: 2px;
	
	text-decoration:none;
	text-align: center;
	border: solid 1px #054c84;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	
}

button:hover {
	color: #fff;
	background:#054c84;
	padding: 2px;
	
	text-decoration:none;
	text-align: center;
	border: solid 1px #067DB5;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	
}

button:active {
	color: #fff;
	background:#067DB5;
	padding: 2px;
	
	text-decoration:none;
	text-align: center;
	border: solid 1px #f0ac1b;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
	
}
div.subtable {
	padding-left: 70px;
}
table.subtable {
	width: 950px;
	border: solid 1px #ddd;
	/*border-style: dotted;*/
	
}
/*
table.nopadding {
	padding: 0px;
	border-bottom:0px solid #000;
}
*/


input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}













